.thumb {
    margin-bottom: 30px;
}

.business-header {
    height: 400px;
    background: url('fashion3-1900x400.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


footer {
    margin: 50px 0;
}
